@page
@model internalSupport.Pages.SupportTicket.ConfirmationModel

    <h4>
        Your request was successfully submitted, our Support Team will contact you shortly.
    </h4>

<a href="\">Back</a>

